:root{
    --box-border: 1px solid black;


    --box-border-radius-l: 25px;
    --box-border-radius-m: 15px;
    --box-border-radius-s: 10px;

    
    --container-border-radius: 15px;

    /* COLOR PALETTES */
    --color-palette-teal: #049AA0;
    --color-palette-torqouise: #04B1B8;
    --color-palette-cyan: #D1E3E8;
    --color-palette-light-gold: #EDC14F;
}

body{
    display: flex;
    border: var(--box-border);
    height: 1200px;
    margin: 0px;
    background-color: var(--color-palette-cyan);
}

nav, 
main{
    border: var(--box-border);
    border-radius: var(--container-border-radius);
    height: 100%;
}

main{
    background-color: var(--color-palette-cyan);
}

nav{
    display: block;
    position: fixed;
}

.nav-bar,
.profile-section{
    border: var(--box-border);
    border-radius: var(--container-border-radius);
    width: 100%;
}
.profile-section{
    height: 20%;
    background-color: var(--color-palette-teal);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-container{
    margin-top: 10%;
}

.profile-img-container:hover, .profile-img-container img:hover{
    height: 70px;
    width: 70px;
    border-radius: 3rem;
}

.profile-img-container, .profile-img-container img{
    height: 60px;
    width: 60px;
    border-radius: 2rem;
    border: var(--box-border);
}


.nav-bar {
    height: 100%;
    display: block;
    padding-top: 1rem;
    background-color: var(--color-palette-torqouise);
}

.nav-btn{
    /* border: var(--box-border); */
    border-radius: var(--box-border-radius-l);
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.126);
}

.nav-btn:hover{
    background-color: rgba(255, 255, 255, 0.378);
}

.nav-btn i{
    margin-left: 25%;
    margin-right: 7%;
    color: var(--color-palette-light-gold);
}



/* ----------------------------------------------------------- */

@media screen and (min-width: 1024px){
    nav{
        width: 15%;
    }
    
    main{
        width: 85%;
        margin-left: 15.5%;
    }
}

@media screen and (min-width: 760px) and (max-width: 1023px){
    nav{
        width: 25%;
    }
    
    main{
        width: 100%;
        margin-left: 26%;
    }
}

@media screen and (max-width: 767px){
    nav{
        width: 25%;
    }
    
    main{
        width: 75%;
        margin-left: 26%;
    }
}

